DB_HOST=localhost
DB_USER=root
DB_PASS=182806
DB_NAME=job_portal
ACCESS_TOKEN_SECRET=2ac973ffe290198c0a763aa2497ec93c2d3dd6842e4198cd0d7a5c8976ba5168
ELASTICSEARCH_URL=http://localhost:9200
ES_USERNAME=elastic
ES_PASSWORD=changeme
